.App {
  /* text-align: center; */
  color: #333333;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  height: 100%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  max-width: 668px;
  width: 100%
  /* pointer-events: none; */
}

.schedule-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: unset;
}

.schedule-list li {
  display: flex;
  border: 1px solid orange;
  padding: 1em;
  justify-content: space-between;
}

.listItem-section {
  display: flex;
  flex-direction: column;
}

.catchup {
  display: flex;
}

.catchup div {
  padding: 2px;
}




.App-header {
  /* background-color: #ECECEC; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



