.App {
  /* text-align: center; */
  color: #333333;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  height: 100%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  max-width: 668px;
  width: 100%
  /* pointer-events: none; */
}

h2 {
  font-size: 1.25em;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: unset;
}

.schedule-list li {
  display: flex;
  border: 1px solid orange;
  padding: 1em;
  justify-content: space-between;
}

.listItem-section {
  display: flex;
  flex-direction: column;
}

.listGame-section {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.listGame-section h2 {
  line-height: 16.8px;
}

.listGame-section>li:first-child {
  background-color: aqua;
}
.section-details {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.game-info {
  border: 1px solid blueviolet;
}

.game-info img{
  height: 0.875em;
  width: 0.875em;
}
.decisions {
  display: flex;
  flex-direction: column;
  border: 1px solid blueviolet;
}

.catchup {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.catchup img {
  padding: 2px;
  height: 1em;
  width: 1em;
  color: black;
}




.App-header {
  /* background-color: #ECECEC; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}



